<div layout="column" class="height-inherit">
    <div class="mask" ng-show="vars.bLoadingRightView">
        <md-progress-circular class="progressBar" md-mode="indeterminate"></md-progress-circular>
    </div>
    <div style="overflow: scroll;" class="backgroundColor touch">
        <div class="product-card-full">
            <v3-sub-pages sub-name='Term Life Protect' sub-id='motor_private_car_m_detail'></v3-sub-pages>
            <div class="row-card" layout="row" layout-margin>
                <div flex="20">
                    <img style="width:100%;" src="http://previews.123rf.com/images/laser0114/laser01141308/laser0114130800020/21397461-3D-render-of-grandparents-with-grandchildred-Stock-Photo-family-clipart-render.jpg">
                </div>
                <div flex="70">
                    <span style="line-height: 1.846;">Term life insurance or term assurance is life insurance which provides coverage at a fixed rate of payments for a limited period of time, the relevant term. After that period expires...</span></div>
            </div>
        </div>
    </div>
</div>
