

<md-dialog class="dialog-style" ng-init="showTicketInfo()" aria-label="Settings">
    <div layout="row" class="popup-header" layout-margin>
        <div flex="10">
          
        </div>
        <div flex>
        <div class="center">{{::headerText}}</div>
        </div>
        <div flex="10">
            <div ng-click="cancelDialog()" class="center default-color">Close</div>
        </div>
    </div>
    <div class="dialog-content-500">
        <div class="margin-text-center" >
            <div style="padding-bottom: 10px;">
                CSC Insurance(CSCI), a wholly owned subsidiary of CSC Insurance and Investment Holding Company CSCI was incorporated in Malaysia on 8 th August 1988, CSCI commenced underwriting general insurance business on 1 st
            </div>
            <div style="padding-bottom: 10px;">
                1st January 1989 and Life insurance business on 1st January 1990. The paid-up capital of CSCI is RM150 million comprising of 150 million ordinary shares of RM1.00 each. As at 31st December 2014, the total assets are in excess of RM1.8 billion.
            </div>
            <div style="padding-bottom: 10px;">
                By the year 1992, six branches were established in West Malaysia and the in Saranwak and Sabah. We believe that there are tremendous scopes in Malaysia for us to grow and excel.
            </div>
            <div style="padding-bottom: 12px;">
                <b>Build 1.0.027 (release 2015-Sep-4)<b>
            </div>
        </div>
    </div>
    </div>


</md-dialog>

