<ion-popover-view>
    <ion-content>
        <div class="list">
            <a md-ink-ripple="#bbb" class="item" href="" target="_blank">
              <!-- Edit -->
              Edit
            </a>
            <a md-ink-ripple="#bbb" class="item" href="" target="_blank" ng-click="addNewTab(moduleService, docId); closePopover()">
              Add new tab
            </a>
            <a md-ink-ripple="#bbb" class="item" href="" target="_blank">
              Favorite
            </a>
            <a md-ink-ripple="#bbb" class="item" href="" target="_blank">
              Cancel
            </a>
        </div>
    </ion-content>
</ion-popover-view>
